/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: avenir-light;
  src: url(../fonts/avenir/light.otf); }
@font-face {
  font-family: avenir-medium;
  src: url(../fonts/avenir/medium.otf); }
@font-face {
  font-family: avenir-heavy;
  src: url(../fonts/avenir/heavy.otf); }
@font-face {
  font-family: baskerville-italic;
  src: url(../fonts/baskerville/italic.otf); }
@font-face {
  font-family: futura;
  src: url(../fonts/futura/Futura.ttc); }
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  background: url("../assets/hq_background_orange.png"); }

div.container {
  background-color: #fff;
  padding: 25px;
  margin: 25px;
  font-family: avenir-light; }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    div.container {
      margin: 15px;
      padding: 15px 15px 30px 15px; } }

span.drop-cap {
  color: #e84a0c; }
span.in-text-title {
  color: #be1e2d; }
span.number {
  color: #be1e2d;
  display: block;
  font-size: 80px;
  line-height: 95px;
  font-family: futura; }
span.bold {
  font-weight: bold; }

p {
  font-size: 22px;
  line-height: 35px;
  margin: 20px auto; }
  p.drop-cap:first-letter {
    float: left;
    color: #e84a0c;
    font-size: 123px;
    line-height: 82px;
    padding-top: 21px;
    padding-right: 8px;
    padding-left: 0px;
    font-family: avenir-heavy; }
  p.title-lead-in {
    font-family: baskerville-italic;
    font-size: 27px;
    line-height: 24px;
    margin: 10px auto 0px; }
    @media screen and (min-width: 0px) and (max-width: 767px) {
      p.title-lead-in {
        font-size: 24px; } }
  p.title {
    font-family: avenir-heavy;
    font-size: 33px;
    line-height: 30px;
    margin: 10px auto 40px; }
    @media screen and (min-width: 0px) and (max-width: 767px) {
      p.title {
        font-size: 25px;
        line-height: 30px; } }
  p.text-title {
    color: #e84a0c;
    font-family: avenir-medium;
    font-size: 24px;
    line-height: 36px;
    margin: 30px auto 20px; }
    @media screen and (min-width: 0px) and (max-width: 767px) {
      p.text-title {
        font-size: 22px;
        line-height: 36px; } }

.img-div {
  display: block;
  left: -25px;
  position: relative;
  width: calc(100% + 50px);
  margin: 40px 0px 25px; }
  @media screen and (min-width: 0px) and (max-width: 767px) {
    .img-div {
      width: calc(100% + 30px);
      left: -15px; } }
  .img-div img {
    display: block;
    width: 100%; }
  .img-div .caption {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 60%;
    padding: 15px 25px; }
    @media screen and (min-width: 0px) and (max-width: 767px) {
      .img-div .caption {
        padding: 10px 15px;
        width: auto;
        position: static; } }
    .img-div .caption .caption-title {
      color: #e84a0c;
      font-family: avenir-heavy;
      font-size: 20px;
      line-height: 25.2px;
      margin: 10px auto; }
    .img-div .caption .caption-text {
      font-family: avenir-light;
      font-size: 17px;
      line-height: 20.4px;
      margin: auto; }

.student-button {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 18.11388%;
  margin-bottom: 5px; }
  .student-button:last-child {
    margin-right: 0; }

.button-div {
  overflow: hidden;
  margin-top: 15px; }

.floaty {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); }

.details-div {
  margin-bottom: 30px; }
  .details-div p {
    font-size: 20px;
    margin: 0px;
    line-height: 30px;
    width: 100%; }
    .details-div p.text-title {
      font-size: 30px;
      margin: 0px 0px 5px; }
      @media screen and (min-width: 0px) and (max-width: 767px) {
        .details-div p.text-title {
          font-size: 25px; } }

.directions {
  margin: 30px auto 0px;
  text-align: center; }

.image-details-div {
  margin-bottom: 40px; }

p.student-name {
  color: #be1e2d; }

/*# sourceMappingURL=main.css.map */
