@import "partials/reset";
@import "partials/fonts";

@import "bourbon/bourbon";
@import "neat/neat";

$orange-alternative: rgb(232, 74, 12);
$green-alternative: rgb(159, 198, 0);
$blue-alternative: rgb(0, 46, 148);
$number-color: rgb(190, 30, 45);

$container-padding: 25px; //*** if change, change 'img-div' width as well

$first-breakpoint-value: 0px;
$second-breakpoint-value: 767px;
$small-viewport: new-breakpoint(min-width $first-breakpoint-value max-width $second-breakpoint-value);
$large-viewport: new-breakpoint(min-width $second-breakpoint-value + 1);

body {
  background: url("../assets/hq_background_blue.png");
}

div.container {
  //@include outer-container;
  background-color: #fff;
  padding: $container-padding;
  margin: 25px;
  font-family: avenir-light;

  @include media($small-viewport) {
    margin: 15px;
    padding: 15px 15px 30px 15px;
  }
}

/*
.element {
  //default styling for ipad
  font-size: 24px;
  line-height: 35px;
  margin: 25px auto;
  width: 91.4702%;

  //styling for sizes below ipad
  @include media($small-viewport) {
    font-size: 25px;
    line-height: 35px;
    margin: 25px auto;
    width: 95%;
  }

  //sizing for drop cap
  &.drop-cap:first-letter {
    float: left;
    color: $orange-alternative;
    font-size: 125px;
    line-height: 97px;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: avenir-heavy;
  }
}*/

span {

  &.drop-cap {
    color: $blue-alternative;
  }

  // must be all caps
  &.in-text-title {
    color: $number-color;
  }

  &.number {
    color: $number-color;
    display: block;
    font-size: 80px;
    line-height: 95px;
    font-family: avenir-heavy;
  }
}



p {

   //default styling for ipad
  font-size: 22px;
  line-height: 35px;
  margin: 20px auto;
  width: 91.4702%;

  //styling for sizes below ipad
  @include media($small-viewport) {
    //font-size: 25px;
    //line-height: 35px;
    //margin: 25px auto;
    width: 95%;

  }

    //sizing for drop cap
  &.drop-cap:first-letter {
    float: left;
    color: $blue-alternative;
    font-size: 125px;
    line-height: 97px;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: avenir-heavy;
  }

  &.title-lead-in {
    font-family: baskerville-italic;
    font-size: 27px;
    line-height: 24px;
    margin: 10px auto 0px;

    @include media($small-viewport) {
      font-size: 24px;
    }
  }

  &.title {
    font-family: avenir-heavy;
    font-size: 33px;
    line-height: 30px;
    margin: 10px auto 40px;

    @include media($small-viewport) {
      font-size: 25px;
      line-height: 30px;
    }
  }


  // must be all caps
  &.text-title {
    color: $blue-alternative;
    font-family: avenir-medium;
    font-size: 24px;
    line-height: 36px;
    margin: 30px auto 20px;

    @include media($small-viewport) {
      font-size: 22px;
      line-height: 36px;
    }
  }
}


.img-div {
  display: block;
  left: -$container-padding;
  position: relative;
  width: calc(100% + 50px); //******************** has to be changed if container-padding changes
  margin: 40px 0px 25px;

  @include media($small-viewport) {
    width: calc(100% + 30px);
    left: -15px;
  }

  img {
    display: block;
    width: 100%;
  }

  .caption {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    width: 60%;
    padding: 15px 25px;


    @include media($small-viewport) {
      padding: 10px 15px;
      width: auto;
      position: static;
    }

    .caption-title {
      color: $orange-alternative;
      font-family: avenir-heavy;
      font-size: 20px;
      line-height: 25.2px;
      margin: 10px auto;
    }

    .caption-text {
      font-family: avenir-light;
      font-size: 17px;
      line-height: 20.4px;
      margin: auto;
    }
  }
}

.student-button {
  @include span-columns(2.4 of 12);
  //@include omega(5n);
  //margin-top: 40px;
  margin-bottom: 5px;
}

.button-div {
  overflow: hidden;
  margin-top: 15px;
}

.floaty {
  box-shadow: 1px 1px 3px rgba(0,0,0,.5);
}


.dps-slider {
  position: relative;
  overflow: auto;

  left: -$container-padding;
  position: relative;
  width: calc(100% + 50px); //******************** has to be changed if container-padding changes
  //margin: 40px 0px 25px;

  @include media($small-viewport) {
    width: calc(100% + 30px);
    left: -15px;
  }

  li {
    list-style: none;
    img {
      width: 100%;
    }
  }

  ul li {
    float: left;
  }
}

.dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  text-align: center;

  @include media($small-viewport) {
    bottom: 5px;
  }
}

.dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  text-indent: -999em;
  border: 2px solid #fff;
  background: #fff;
  border-radius: 6px;
  cursor: pointer;
  opacity: .4;
  -webkit-transition: background .5s, opacity .5s;
  -moz-transition: background .5s, opacity .5s;
  transition: background .5s, opacity .5s;
}

.dots li.active {
  background: $blue-alternative;
  border: 2px solid $blue-alternative;
  opacity: 1;
}

.slider-caption {
  margin: 0px auto;
  font-style: italic;

  @include media($small-viewport) {
    font-size: 18px;
    line-height: 26px;
  }
}

#slider1 {
  margin-top: 40px;
}

#slider2 {
  margin-bottom: 25px;

  li {
    padding: 15px;
  }
}


