@import "partials/reset";
@import "partials/fonts";

@import "bourbon/bourbon";
@import "neat/neat";

//colors used in article
$orange-alternative: rgb(232, 74, 12);
$green-alternative: rgb(159, 198, 0);
$blue-alternative: rgb(0, 46, 148);
$blue-alternative-light: rgb(0, 172, 233);
$number-color: rgb(190, 30, 45);

$container-padding: 25px; //*** if change, change 'img-div' width as well

//breakpoints for below and above ipad screen sizes
$first-breakpoint-value: 0px;
$second-breakpoint-value: 767px;
$small-viewport: new-breakpoint(min-width $first-breakpoint-value max-width $second-breakpoint-value);
$large-viewport: new-breakpoint(min-width $second-breakpoint-value + 1);

//change the background of the body
body {
  background: url("../assets/hq_background_blue.png");
}

//styling for container element
div.container {
  background-color: #fff;
  padding: $container-padding;
  margin: 25px;
  font-family: avenir-light;

  @include media($small-viewport) {
    margin: 15px;
    padding: 15px 15px 30px 15px;
  }
}

//styles for span elements
span {
  //change the color of word with drop cap applied
  &.drop-cap {
    color: $blue-alternative;
  }

  // paragraph emphasis 'in text title' styling...must be all caps
  &.in-text-title {
    color: $blue-alternative;
  }

  //style for number element
  &.number {
    color: $blue-alternative;
    display: block;
    font-size: 80px;
    line-height: 95px;
    font-family: futura;
  }

  //span to bold text
  &.bold {
    font-weight: bold;
  }
}


//styles for all text paragraph elements
p {
  //default styling for ipad
  font-size: 22px;
  line-height: 35px;
  margin: 20px 0px;

  //sizing and styling for drop cap -- needs to be applied to the paragraph where there will be a drop cap
  &.drop-cap:first-letter {
    float: left;
    color: $blue-alternative;
    font-size: 123px;
    line-height: 82px;
    padding-top: 21px;
    padding-right: 8px;
    padding-left: 0px;
    font-family: avenir-heavy;
  }

  //style for the lead in that comes before the title
  &.title-lead-in {
    font-family: baskerville-italic;
    font-size: 27px;
    line-height: 24px;
    margin: 10px 0px 0px;

    @include media($small-viewport) {
      font-size: 24px;
    }
  }

  //styling for main title
  &.title {
    font-family: avenir-heavy;
    font-size: 33px;
    line-height: 30px;
    margin: 10px 0px 40px;

    @include media($small-viewport) {
      font-size: 25px;
      line-height: 30px;
    }
  }

  //styling for 'text-titles' -- must be all caps
  &.text-title {
    color: $blue-alternative;
    font-family: avenir-medium;
    font-size: 24px;
    line-height: 36px;
    margin: 30px 0px 20px;

    @include media($small-viewport) {
      font-size: 22px;
      line-height: 36px;
    }
  }
}

//style and positioning of img container element
.img-div {
  display: block;
  left: -$container-padding;
  position: relative;
  width: calc(100% + 50px); //******************** has to be changed if container-padding changes
  margin: 40px 0px 25px;

  @include media($small-viewport) {
    width: calc(100% + 30px);
    left: -15px;
  }

  img {
    display: block;
    width: 100%;
  }
}

//style and positioning for image slider
.dps-slider {
  position: relative;
  overflow: auto;
  left: -$container-padding;
  position: relative;
  width: calc(100% + 50px); //******************** has to be changed if container-padding changes

  @include media($small-viewport) {
    width: calc(100% + 30px);
    left: -15px;
  }

  //some default styling that goes with base slider
  li {
    list-style: none;
    img {
      width: 100%;
    }
  }

  //some default styling that goes with base slider
  ul li {
    float: left;
  }
}

//styling for dots of slider -- additional positioning done in 'main.js' on page load***
.dots {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;

  li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    text-indent: -999em;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    opacity: .4;
    -webkit-transition: background .5s, opacity .5s;
    -moz-transition: background .5s, opacity .5s;
    transition: background .5s, opacity .5s;

    &.active {
      background: $blue-alternative-light;
      border: 2px solid $blue-alternative-light;
      opacity: 1;
    }
  }
}

//styles for the slider image captions
.slider-caption {
  margin: 10px 25px;
  font-style: italic;

  @include media($small-viewport) {
    font-size: 18px;
    line-height: 26px;
    margin: 10px 15px;
  }
}

//small margin change for specific slider
#slider1 {
  margin-top: 20px;
}

//positioning and styling of HTML audio player element
audio {
  margin: 0px auto 20px;
  width: 100%;
}

//positioning and styling of unordered text list and list elements
.ordered-list {
  font-size: 22px;
  line-height: 35px;
  margin: 20px 0px;
  padding-left: 30px;

  li {
    margin-bottom: 10px;
    font-weight: bold;
  }
}



